{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Tugas Tio</title>
    <style>
        hr {
            border-top: solid #808080;
        }
    </style>
</head>
<body>
    <div class="container col-sm-6">
        <h1 class="py-2 text-center">Sistem Informasi Tugas Tio</h1>
        <h5>Jumlah: <span class="badge badge-success">{{ jumlahTugas }}</span></h5>
        <a href="/admin/listTugas/tugas/add/">
            <button type="button" class="btn btn-success">Tambah Tugas</button>
        </a>
        <a href="/table">
            <button type="button" class="btn btn-primary">Versi tabel</button>
        </a>
        <hr>
        {% for i in listTugas %}
        <h5>{{ i.matkul }}</h5>
        <p>{{ i.keterangan }}</p>
        <h6>{{ i.deadline.deadline }}</h6>
        <h6>{{ i.deadline.timeleft }}</h6>
        <a href="/admin/listTugas/tugas/{{i.id}}/change/">
            <button type="button" class="btn btn-primary btn-sm">Ubah</button>
        </a>
        <a href="/admin/listTugas/tugas/{{i.id}}/delete/">
            <button type="button" class="btn btn-danger btn-sm">Hapus</button>
        </a>
        <hr>
        {% endfor %}
        <p>- Made by Tayo -</p>
    </div>
</body>
</html>