{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <title>Tugas Tio</title>
    <style>
        hr {
            border-top: solid #808080;
        }
    </style>
</head>
<body>
    <div class="container col-sm-6">
        <h1 class="py-2 text-center">Sistem Informasi Tugas Tio</h1>
        <h5>Jumlah: <span class="badge badge-success">{{ jumlahTugas }}</span></h5>
        <a href="/admin/listTugas/tugas/add/">
            <button type="button" class="btn btn-success">Tambah Tugas</button>
        </a>
        <a href="/">
            <button type="button" class="btn btn-primary">Versi normal</button>
        </a>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable">
                <thead>
                <tr>
                    <th>Deadline</th>
                    <th>Countdown</th>
                    <th>Judul</th>
                    <th>Keterangan</th>
                </tr>
                </thead>
                <tbody>
                {% for i in listTugas %}
                <tr>
                    <td>{{ i.deadline.deadline }}</td>
                    <td>{{ i.deadline.timeleft }}</td>
                    <td>{{ i.matkul }}</td>
                    <td>{{ i.keterangan }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <p>- Made by Tayo -</p>
    </div>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
</body>
</html>